In [1]:
name1=23
name2="hamza"
name3=45.0
name4=True
name5=False
print(name1)
print(name2)
print(name3)
print(name4)
print(name5)

23
hamza
45.0
True
False

## comperison operators
## == equal to
## != not equal to
## > greater than
## < less than 
## >= greater than or equal to
##  
## <= less or equal to

In [3]:
user1=input("what is the number:")
user2=input("what is the second number:")
result1=user1 == user2
result2=user1 != user2
result3=user1 > user2
result4=user1 < user2
result5=user1 >= user2
result6=user1 <= user2
print(f'this the result {result1},{result2},{result3},{result4},{result5},{result6}')

what is the number:50
what is the second number:45
this the result False,True,True,False,True,False

In [4]:
## identity operator

In [5]:
A=20
B=45
print("this is ",A is B)
print("this is not",A is not B)

this is  False
this is not True

In [8]:
A and B

45

In [9]:
A or B

20

In [10]:
a= true
b= true
c= false

NameError: name 'true' is not defined

In [13]:
## mr p bought a goods of 500,000 and sold each of the goods 20,000 what is the profit.
buying_price=500000
selling_price=20000
number_bags=buying_price/selling_price
profit=(number_bags*selling_price)-buying_price
print(f"mr p made a profit of {profit}")

mr p made a profit of 0.0

In [ ]:
## create an input function for user to calculate the quantity of food been serve in restaurant
## amount for food is #12,000
## calculate the amount of each dish

In [5]:
user=float(input("what is the quantity of food served:"))
food_price= 12000
quantity=(user * food_price) - food_price
print(f" what is the amuount of each dish {quantity}")

what is the quantity of food served:3
 what is the amuount of each dish 24000.0